<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Loop Portal</a>
        <a class="navbar-text navbar-right" ui-sref="main.state1"><span class="glyphicon glyphicon-menu-down"></span></a>
        <p class="navbar-text navbar-right">Signed in as <a ui-sref="main.state1" class="navbar-link">{{First}} {{Last}}</a></p>
        <p class="navbar-text navbar-right"> | </p>
        <a class="navbar-text navbar-right" ui-sref="main.state1"><span class="glyphicon glyphicon-eye-open"></span></a>
        <p class="navbar-text navbar-right"> | </p>
        <a class="navbar-text navbar-right" ui-sref="main.state1"><span class="glyphicon glyphicon-calendar"></span></a>
    </div>
    <!-- /.container-fluid -->
</nav>
<div ui-view></div>
