<div class="container-fluid">
    <div class="row-fluid">
        <!--/span-->
        <div class="span2" id="content">
            <div class="row-fluid">
                <!-- block -->
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">Employees</div>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                            <div ng-repeat="looper in theseLoopers">
                                <p ng-click="selectLooper(looper.Display)" ng-class="{looperSelected: looperSelected === looper.Display}">{{looper.First}} {{looper.Last}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /block -->
            </div>
        </div>
        <div class="span10" id="content">
            <div class="row-fluid">
                <!-- block -->
                <div class="block">
                    <div class="navbar navbar-inner block-header">
                        <div class="muted pull-left">Schedule</div>
                    </div>
                    <div class="block-content collapse in">
                        <div class="span12">
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
                <!-- /block -->
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; Nick Casey & Christian McFarland 2016</p>
    </footer>
</div>
